@import "../layout/section-banner";
@import "../layout/section-about";

.bg-about {
   background-size: cover;
   background-image: url("../img//banner-aboutus.jpg");
}
.footer__about {
   background-color: $color-bg-primary;
}
