.footer {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 2.6rem 7rem;
   font-size: 1.1rem;
   font-weight: 600;
   color: #302f2f;
   background-color: $color-white;
   &__logo {
      & img {
         height: 6rem;
      }
   }
   &__address {
   }
   &__brand {
      text-transform: uppercase;
   }
   &__content {
      text-align: right;
   }
}
