.section-home {
   display: inline-block;
   padding: 12rem 10rem;
   color: $color-white;
   width: 60%;
   &__title {
      font-size: 7rem;
      font-family: "Concept";
      letter-spacing: 0.3rem;
   }
   &__sub {
      display: flex;
      margin-left: 10%;
      align-items: center;

      &--space {
         background-color: $color-primary;
         width: 7rem;
         height: 0.4rem;
      }
      &--content {
         margin: 2rem 2rem;
         font-weight: 600;
         letter-spacing: 0.3rem;
         text-transform: uppercase;
      }
   }
}
