.form {
   color: $color-t-primary;
   font-family: "Minion";
   &__title {
      margin: 1.4rem 0;
      font-size: 8rem;
      font-weight: 700;
   }
   &__sub {
      font-size: 2rem;
   }
   &__input {
      display: flex;
      flex-direction: column;
      margin: 3rem 0;
      padding: 0.6rem 1rem;
      width: 30%;
      border-radius: 0.4rem;
      border: 0.1rem solid $color-t-primary;
      outline: none;
      font-family: Arial, Helvetica, sans-serif;
   }
   &__btn {
      margin-bottom: 3rem;
      padding: 1.4rem 3rem;
      border-radius: 0.8rem;
      font-size: 2rem;
      font-family: Arial, Helvetica, sans-serif;
   }
}
